<!DOCTYPE html>
<!-- xmlns : Thymeleaf Template 을 사용한다는 의미 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <!-- Semantic Tag 를 이용하여 틀을 짬 -->
    <!-- th:replace=~{header :: header} : header 를 사용할 것이고, header Element 를 찾아서 보여주겠다는 의미! -->
    <header th:replace="header :: header"></header>

    <main>
        <!-- 1. Search -->
        <form>
            <label for="search-type" hidden="hidden">Type</label>
            <select id="search-type" name="search-type">
                <option>Title</option>
                <option>Content</option>
                <option>ID</option>
                <option>Nick Name</option>
                <option>Hashtag</option>
            </select>
            <label for="search-value" hidden="hidden">Search</label>
            <input type="search" name="search-value" id="search-value" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
        <!-- 2. Table -->
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>HashTag</th>
                    <th>Writer</th>
                    <th>Data Created</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>First</td>
                    <td>#java</td>
                    <td>Test</td>
                    <td>2023-04-06</td>
                </tr>
                <tr>
                    <td>Two</td>
                    <td>#spring</td>
                    <td>Test2</td>
                    <td>2023-04-05</td>
                </tr>
                <tr>
                    <td>Third</td>
                    <td>#SQL</td>
                    <td>Test3</td>
                    <td>2023-04-04</td>
                </tr>
            </tbody>
        </table>

        <nav>
            <table>
                <tr>
                    <td>previous</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>next</td>
                </tr>
            </table>
        </nav>
    </main>

    <footer th:replace="footer :: footer">
        <hr>
        footer 삽입부
    </footer>
</body>

</html>